<div class="card" style="width: 14rem" *ngFor="let bebida of allBebidas">
  <img class="card-img-top" src="{{ bebida.imagem }}" style="width: 14rem" />
  <div class="card-body">
    <h3 class="card-title">{{ bebida.categoria }}</h3>
    <h5>{{ bebida.nome }}</h5>
    <p class="card-text">{{ bebida.descricao }}</p>
    <span class="d-flex justify-content-center"><b>R$ {{ bebida.valor }}</b></span>
  </div>
  <div class="d-flex justify-content-center">
    <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-secondary p-button-text" (click)="deleteBebida(bebida)"></p-button>
  </div>
</div>
