<form id="form" name="form" [formGroup]="form">
  <div class="card" style="width: 18rem">
    <img formControlName="imagem" class="card-img-top w-50" alt="..." />
    <div class="card-body">
      <h4 class="card-title" formControlName="nome">BEBELA ROSA</h4>
      <h5 formControlName="categoria">Refresher</h5>
      <p formControlName="descricao" class="card-text">
        Uma bebida de Morango com adição de leite, castanha de caju, batidos com
        gelos na coqueteleira
      </p>
      <p formControlName="valor" optionValue="value"></p>
    </div>
  </div>
</form>
