<form id="form" name="form" [formGroup]="form">
  <div class="d-flex flex-column align-items-center mt-5">
    <div class="w-75 pt-3">
      <label for="categoria">Categoria</label>
      <input
        id="categoria"
        class="form-control"
        type="text"
        placeholder="Digite a Categoria"
        formControlName="categoria"
      />
    </div>
    <div class="w-75 pt-3">
      <label for="nome">Nome</label>
      <input
        class="form-control "
        type="text"
        placeholder="Digite o Nome"
        formControlName="nome"
      />
    </div>
    <div class="w-75 pt-3">
      <label for="imagem">Imagem</label>
      <input
        class="form-control"
        type="text"
        placeholder="Link da Imagem"
        formControlName="imagem"
      />
    </div>
    <div class="w-75 pt-3">
      <label for="valor">Valor do Produto</label>
      <input
        class="form-control"
        type="number"
        placeholder="Digite o valor do produto"
        formControlName="valor"
      />
    </div>

    <div class="mb-3 w-75 pt-3">
      <label for="textArea" class="form-label">Descrição</label>
      <textarea
        class="form-control"
        id="textArea"
        rows="3"
        formControlName="descricao"
      ></textarea>
    </div>
    <button type="button" class="btn btn-primary" (click)="cadastrarBebida()">Cadastrar Bebida</button>
  </div>
</form>
